<div [ngClass]="{'nav-active' : isMobileNavEnabled()}">

<div class="overlay fixed-nav-back" (click)="isMobileNavEnabled.set(!isMobileNavEnabled())"></div>
<div class="fixed-nav theme-dark" (click)="isMobileNavEnabled.set(!isMobileNavEnabled())">
    <div class="fixed-nav-rounded-div">
        <div class="rounded-div-wrap">
            <div class="rounded-div"></div>
        </div>
    </div>
    <div class="fixed-nav-inner">
        TESTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
    </div>
</div>
</div>
